body{
    font-family: 'Montserrat','Raleway';
    font-weight: 300;
    background-color: #232323;
    height: 100vh;
}

html{
    color: #232323;
    min-height: 100vh;
}

#background{
    background-color: #232323;
}

.square{
    width: 90%;
    padding-top: 90%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
}

.selected{
    background-color: steelblue;
    color:white;
}

h2{
    color: white;
    text-align: center;
    background-color: steelblue;
    text-transform: uppercase;
    line-height: 1.1;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
}

#rgbDisplay{
    font-size: 3.4rem;
}

.wrongGuess{
    opacity: 0;
}

button{
    border: none;
    outline: none!important;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover{
    color: white;
    background-color: steelblue;
}